<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <a href="{{ SITEURL }}/index.html">{{ SITENAME }}</a>
	{% if SITE_SUBNAME %}
      <span>{{ SITE_SUBNAME }}</span>
	{% endif %}
    </div>
    <div class="navigation">
      <ul>
	{% for cat, null in categories %}
	<li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
	{% endfor %}
	{% if DISPLAY_PAGES_ON_MENU %}
	{% for page in PAGES %}
	<li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
	{% endfor %}
	{% endif %}
	<li><a href="{{ SITEURL }}/tags.html">Tags</a></li>
	<li><a href="{{ SITEURL }}/archives.html">Archives</a></li>
      </ul>
    </div>
    <div class="body">
    {% block body %}
    {% endblock %}
    </div>

    <div class="footer">
      <p>&copy Copyright 2012 by Xiuqing Pan</P>
      <p>Content licensed under the Creative Commons attribution-noncommercial-sharealike License.</P>
      <p>Contact me via
	<a href="http://github.com/panxiuqing">github</a>,
	<a href="http://bitbucket.org/panxiuqing">bitbucket</a> or
	<a href="mailto:panxiuqing@gmail.com">mail</a>
      </p>
    </div>
  </div>
</body>
<html>
